@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

body{
  font-family: "Roboto", Arial, sans-serif;
}

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2E2F42;
  --navcolor: #2e2f42;
  --oceancolor: #404BBF;
  --contactcolor: #434455;
  --titlecolor:  #2E2F42;
  --descriptioncolor: #434455;
  --namecolor: #2e2f42;
  --positioncolor: #434455;
}

ul,
li {
  list-style-type: none;
}

/*WEBSTUDIO LOGO*/

.logo-link{
  text-decoration: none;
  font-size: 18px;
  font-family: "Raleway",sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.54;
}

.logo{
  color: var(--iriscolor)
}

.studio{
  color: var(--navyblue)
}

/*MENU ITEMS*/
.nav-menu .page {
  font-size: 16px;
  font-weight: 500;
  color: var(--navcolor);
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.nav-menu .pages:hover,
.nav-menu .pages:focus,
.nav-menu .item:hover,
.nav-menu ..item:focus{
  color: var(--oceancolor);
  text-decoration: underline
}

.nav-menu .item{
  color: var(--contactcolor);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*MAIN LANDING PAGE*/
.bg-hero{
  background-color: var(--navyblue);
  width: 1440px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-title{
  color: var(--white, #FFF);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  justify-content: center;
}

/*MAIN LANDING PAGE BUTTON*/
.button:hover,
.button:focus{
  background-color: orange;
}

.button{
  cursor:pointer;
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border-color: transparent;
  background: var(--iris, #4D5AE5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*SECTION 2*/

.section{
  background-color: white;
  width: 1440px;
  height: 430px;
  display: flex;
  align-items: center;
}

.section ul{
  display: flex;
  width: 1440px;
  gap: 24px;
  justify-content: center;
}
.title{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.description{
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*SECTION 3*/

.bg-section-3{
  background: var(--white, #FFF);
  width: 1440px;
  height: 500px;
  display: flex;
  align-items: center;
}


/*Omg tinanggal itong part sa first revision*/


.section-title{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.what-we-do{
  display: flex;
  justify-content: center;
}

/*SECTION 4*/
.section-4{
  background-color: #F4F4FD;
  width: 1440px;
  height: 500px;
}

.name{
  color: var(--namecolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;

}

.position{
  color: var(--positioncolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-4-items ul{
  display: flex;
}

/*FOOTER*/

footer{
  background-color: var(--navyblue);
  width: 1440px;
  height: 300px;
}

.page-footer .logo{
  color: var(--iriscolor)
}

.page-footer .studio-footer{
  color: var(--cloud, #F4F4FD);
}

.footer-description{
  color: var(--cloud, #F4F4FD);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}



/* PORFOLIO */

/**/

/*PORTFOLIO BUTTONS*/
.filters .button:hover,
.filters .button:focus{
  background-color: var(--oceancolor);
  color: var(--white, #FFF);
}

.filters .button{
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--cloud, #F4F4FD);
  color: var(--iris, #4D5AE5);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px; 
}

.projects .project{
  text-decoration: none;
}

.projects .name{
  color: var(--navyblue, #2E2F42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.projects .type{
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}